language: node_js

node_js:
  - "8"
  - "10"
  - "11"

sudo: false

cache:
    directories:
          - "node_modules"
script:
  - npm install
  - npm run test

after_script:
  - "npm install coveralls"
  - "cat ./backend/coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
